body {
	width: 100%;
}

#container {
	width: auto;
	margin: 0 auto;
	display: flex;
}
@media (max-width: 600px) {
	#container {
		display: flex;
		flex-direction: column;
	}
}

.title {
	font-size: 46px;
	color: rgb(67, 136, 204);
	text-align: center;
}

#titles {
	width: 100%;
	margin: 0 auto;
}

h3 {
	font-size: 40px;
	color: rgb(67, 136, 204);
	text-align: center;
}

.center {
	width: 60%;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 50px 50px 100px 50px;
	background: white;
	border: 1pt solid rgb(236, 236, 236);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#form {
	width: 100%;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}

.searchbar {
	margin: 6px;
	height: 60px;
	background-color: rgb(236, 236, 236);
	padding: 10px;
	width: 80%;
	border-radius: 30px;
	position: relative;
}

.searchbar:hover > .search_input {
	caret-color: black;
}

.search_input {
	color: black;
	border: 0;
	outline: 0;
	background: none;
	width: 80%;
	caret-color: transparent;
	line-height: 40px;
	transition: width 0.4s linear;
	padding: 0 10px;
}

.search_icon {
	position: absolute;
	right: 6px;
	height: 40px;
	width: 40px;
	text-decoration: none;
	border: none;
	background-color: transparent;
	color: rgb(67, 136, 204);
}

@media (max-width: 800px) {
	.center {
		width: 80%;
		margin: 0 auto;
		margin-top: 20px;
		margin-bottom: 20px;
		padding: 50px 50px 100px 50px;
		background: white;
		border: 1pt solid rgb(236, 236, 236);
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.searchbar {
		margin: 6px;
		height: 60px;
		background-color: rgb(236, 236, 236);
		padding: 10px;
		width: 100%;
		border-radius: 30px;
	}
}

.specialties-container {
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 40px;
	max-width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.doctors {
	width: 80%;
	align-content: center;
	margin: 0 10%;
	font-size: 20px;
}

.label {
	font-size: 16px;
	color: rgb(67, 136, 204);
}

.doctor-info {
	margin-bottom: 30px;
	padding: 20px;
	border-radius: 3px;
	border: 1pt solid rgb(67, 136, 204);
	/* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.55); */
	background: white;
}

.search-title {
	flex: auto;
	background-color: #e0e0e0;
	border: 1pt solid rgb(224, 224, 224);
	margin: 10px 30px 40px 20px;
	padding: 30px 40px;
}

.widget-26 {
	color: #3c4142;
	font-weight: 400;
}

.widget-26 tr:first-child td {
	border: 0;
}

.widget-26 .widget-26-job-emp-img img {
	width: 35px;
	height: 35px;
	border-radius: 50%;
}

.widget-26 .widget-26-job-title {
	min-width: 200px;
}

.widget-26 .widget-26-job-title a {
	font-weight: 400;
	font-size: 0.875rem;
	color: #3c4142;
	line-height: 1.5;
}

.widget-26 .widget-26-job-title a:hover {
	color: #68cbd7;
	text-decoration: none;
}

.widget-26 .widget-26-job-title .employer-name {
	margin: 0;
	line-height: 1.5;
	font-weight: 400;
	color: #3c4142;
	font-size: 0.8125rem;
}

.widget-26 .widget-26-job-title .employer-name:hover {
	color: #68cbd7;
	text-decoration: none;
}

.widget-26 .widget-26-job-title .time {
	font-size: 12px;
	font-weight: 400;
}

.widget-26 .widget-26-job-info {
	min-width: 100px;
	font-weight: 400;
}

.widget-26 .widget-26-job-info p {
	line-height: 1.5;
	color: #3c4142;
	font-size: 0.8125rem;
}

.widget-26 .widget-26-job-info .location {
	color: #3c4142;
}

.widget-26 .widget-26-job-salary {
	min-width: 70px;
	font-weight: 400;
	color: #3c4142;
	font-size: 0.8125rem;
}

.widget-26 .widget-26-job-category {
	padding: 0.5rem;
	display: inline-flex;
	white-space: nowrap;
	border-radius: 15px;
}

.widget-26 .widget-26-job-category .indicator {
	width: 13px;
	height: 13px;
	margin-right: 0.5rem;
	float: left;
	border-radius: 50%;
}

.widget-26 .widget-26-job-category span {
	font-size: 0.8125rem;
	color: #3c4142;
	font-weight: 600;
}

.widget-26 .widget-26-job-starred svg {
	width: 20px;
	height: 20px;
	color: #fd8b2c;
}

.widget-26 .widget-26-job-starred svg.starred {
	fill: #fd8b2c;
}
.bg-soft-base {
	background-color: #e1f5f7;
}
.bg-soft-warning {
	background-color: #fff4e1;
}
.bg-soft-success {
	background-color: #d1f6f2;
}
.bg-soft-danger {
	background-color: #fedce0;
}
.bg-soft-info {
	background-color: #d7efff;
}

.search-form {
	width: 80%;
}

.search-form input {
	height: 100%;
	background: transparent;
	border: 0;
	display: block;
	width: 100%;
	padding: 1rem;
}

.search-form select {
	background: transparent;
	border: 0;
	padding: 1rem;
	height: 100%;
	font-size: 1rem;
}

.search-form select:focus {
	border: 0;
}

.search-form button {
	height: 100%;
	width: 100%;
	font-size: 1rem;
}

.search-form button svg {
	width: 24px;
	height: 24px;
}

.search-body {
	margin-bottom: 1.5rem;
}

.search-body .search-filters .filter-list {
	margin-bottom: 1.3rem;
}

.search-body .search-filters .filter-list .title {
	color: #3c4142;
	margin-bottom: 1rem;
}

.search-body .search-filters .filter-list .filter-text {
	color: #727686;
}

.search-body .search-result .result-header {
	margin-bottom: 2rem;
}

.search-body .search-result .result-header .records {
	color: #3c4142;
}

.search-body .search-result .result-header .result-actions {
	text-align: right;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.search-body .search-result .result-header .result-actions .result-sorting {
	display: flex;
	align-items: center;
}

.search-body
	.search-result
	.result-header
	.result-actions
	.result-sorting
	span {
	flex-shrink: 0;
	font-size: 0.8125rem;
}

.search-body
	.search-result
	.result-header
	.result-actions
	.result-sorting
	select {
	color: #68cbd7;
}

.search-body
	.search-result
	.result-header
	.result-actions
	.result-sorting
	select
	option {
	color: #3c4142;
}

@media (min-width: 768px) and (max-width: 992px) {
	.search-body .search-filters {
		display: flex;
	}
	.search-body .search-filters .filter-list {
		margin-right: 1rem;
	}
}

.card-margin {
	margin-bottom: 1.875rem;
}

@media (min-width: 992px) {
	.col-lg-2 {
		flex: 0 0 16.66667%;
		max-width: 16.66667%;
	}
}

.card-margin {
	margin-bottom: 1.875rem;
}
.card {
	border: 0;
}
.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #ffffff;
	background-clip: border-box;
	border-radius: 8px;
}

.col {
	float: left;
	width: 32%;
	padding: 8px;
}

/* Clear floats after image containers */
.ro::after {
	display: flex;
}
.flip-box {
	border: 1pt solid rgb(236, 236, 236);
	background-color: transparent;
	width: 300px;
	height: 300px;
	margin: 5px;
	perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
	transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front,
.flip-box-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
	background-color: #bbb;
	color: black;
}

/* Style the back side */
.flip-box-back {
	background-color: #0066b2;
	color: white;
	padding: 60px;
	transform: rotateY(180deg);
}
