{% block styles %}
    <style>
        .nav-item{
            font-size: 13pt;
            color: rgb(161, 161, 161);
        }

        .nav-link{
            color: rgb(67, 136, 204) !important;
        }

        .navbar-brand{
            color: rgb(67, 136, 204) !important;
            font-family: 'Lexend';
            font-size: 18pt;
        }

        .navbar{
            background-color: white !important;
            border-bottom: 1pt solid rgb(236, 236, 236);
        }

    </style>
{% endblock %}

<nav class="navbar navbar-expand-md bg-light navbar-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
        </div>
        <div class="justify-content-center"> 
            <a class="navbar-brand" href="/">Clinic X</a>
        </div>
        <div class="collapse navbar-collapse collapsibleNavbar justify-content-end">
            {% if user.is_authenticated  %}
                {% if user.patient.role == "Patient" %}
                    <ul class="navbar-nav">
                        <a class="nav-link" href="{%  url 'customer:account_info' %}"><i class="fas fa-user"></i></a>
                        <li class ="nav-item" style="padding: 8px">Hello <strong>{{ user.username }}</strong></li>
                        <li class ="nav-item">
                            <a class="nav-link" href="{%  url 'customer:logout' %}"><strong>Logout</strong></a>
                        </li>
                    </ul>
                {% endif %}
                {% if user.doctor.role == 'Doctor' %}
                    <ul class="navbar-nav">
                        <li class ="nav-item">
                            <a class="nav-link" href="{%  url 'doctor:dashboard' %}">Dashboard</a>
                        </li>
                        <li class ="nav-item">
                            <a class="nav-link" href="{%  url 'doctor:logout' %}"><strong>Logout</strong></a>
                        </li>
                    </ul>
                {% endif %}
            {% else %}
                <ul class="navbar-nav">
                    <li class ="nav-item">
                        <a class="nav-link" href="{%  url 'customer:login' %}">Login as a Patient</a>
                    </li>
                    <li class ="nav-item">
                        <a class="nav-link" href="{%  url 'doctor:login' %}">For Doctors</a>
{#                        <a class="nav-link" href="#">For Doctors</a>#}
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>
