{% extends 'base.html' %}
{% load static %}
{% block styles %}
{% endblock %}
{% block content %}
    {% include 'partials/_sidebar.html' %}
    <main class="col bg-faded py-3 justify-content-center">
    {% if appointments %}
        <h2>Appointments</h2>
        <ul class="list-group text-center justify-content-center">
            {% for appointment in appointments %}
                <li class="list-group-item">
                    Doctor: {{ appointment.doctor.user.first_name }} {{ appointment.doctor.user.first_name }} | Patient: {{ appointment.patient.user.first_name }} {{ appointment.patient.user.first_name }}
                    <br>
                    Date: {{ appointment.date }}
                    <a href="{% url 'manager:delete_appointment' appointment_pk=appointment.pk %}" style="float: right;border-radius: 0" class="btn-outline-danger btn button">Remove appointment</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>There are no appointments to show</h3>
    {% endif %}
    </main>
{% endblock %}