{% extends 'base.html' %}
{% load static %}
{% block styles %}
<style>
    .signup-main{
        margin-top: 40px;
        padding: 20px 80px;
        background-color: white;
        /* box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.55); */
        border: 1pt solid rgb(236, 236, 236);
    }
    
    .signup-title{
        margin: 30px;
        color: rgb(67, 136, 204);
    }
    
    .signup-btn{
        width: 100%;
        margin: 30px 0 10px 0;
        padding: 12px;
        border-radius: 30px;
        color: rgb(67, 136, 204) !important;
        border-color: rgb(67, 136, 204) !important;
    }
    
    .signup-btn:hover{
        background-color: rgb(67, 136, 204) !important;
        color: white !important;
    }
    
    .signup-input{
        padding: 25px 14px;
        border-radius: 30px;
        background-color: rgb(247, 247, 247);
    }
    
    ul.errorlist{
        text-align: left;
        list-style-type: none;
        font-weight: bold;
        text-transform: capitalize;
        padding: 0;
    }
    
    ul>li>ul.errorlist{
        text-align: left;
        list-style-type: none;
        font-weight: normal;
        text-transform: capitalize;
        padding-left: 20px;
    }
    
    
</style>
{% endblock %}
{% block content %}

<div class="col-sm-4 col-md"></div>

<div class="col-sm-4 col-md-5 edit-account-main">
    <div class="row text-center justify-content-center">
        <h2 class="login-title">Edit doctor info</h2>
    </div>
    <form class="form" action="" method="post">
        {% csrf_token %}
        <div class="form-row">
            <div class="col-md-6 pt-3">
                <input class="form-control input-lg edit-account-input" name="first_name" placeholder="First Name" value="{{ doctor.user.first_name }}">
            </div>
            <div class="col-md-6 pt-3">
                <input class="form-control input-lg edit-account-input" name="last_name" placeholder="Last Name" value="{{ doctor.user.last_name }}">
            </div>
        </div>
        <div class="form-row">
            <div class="col-xs-6 col-md-6 pt-1">
                <input class="form-control input-lg edit-account-input" name="username" placeholder="Username" value="{{ doctor.user.username }}">
            </div>
            <div class="col-xs-6 col-md-6 pt-1">
                <input class="form-control input-lg edit-account-input" name="age" placeholder="Age" value="{{ doctor.age }}">
            </div>
        </div>
        <div class="form-row pt-1">
            <div class="col-md">
                <input class="form-control input-lg edit-account-input" name="email" placeholder="Email" value="{{ doctor.user.email }}">
            </div>
        </div>
        <div class="form-row pt-1">
            <div class="col-md">
                <input class="form-control input-lg edit-account-input" name="phone_number" placeholder="Phone Number" value="{{ doctor.phone_number }}">
            </div>
        </div>
        <div class="form-row pt-1">
            <div class="col-md">
                <input class="form-control input-lg edit-account-input" name="address" placeholder="Address" value="{{ doctor.address }}">
            </div>
        </div>
        <div class="form-row">
            <div class="col-xs-6 col-md-6 pt-1">
                <input class="form-control input-lg edit-account-input" name="specialty" placeholder="Specialty" value="{{ doctor.specialty }}">
            </div>
            <div class="col-xs-6 col-md-6 pt-1">
                <input class="form-control input-lg edit-account-input" name="years_of_experience" placeholder="Years of Experience" value="{{ doctor.years_of_experience }}">
            </div>
        </div>
        <div class="form-row pt-2">
            <label for="gender" class="edit-account-gender">Gender:&nbsp; </label>
            <label class="radio-inline edit-account-gender-val">
                <input type="radio" name="gender" value="M" id="male" > Male&nbsp;
            </label>
            <label class="radio-inline edit-account-gender-val">
                <input type="radio" name="gender" value="F" id="female"> Female&nbsp;
            </label>
            <label class="radio-inline edit-account-gender-val">
                <input type="radio" name="gender" value="O" id="other"> Other&nbsp;
            </label>
        </div>
        <div class="form-row pt-1">
            <div class="col-md text-center">
                <p class="password-validation">Enter password to validate changes</p>
                <input class="form-control input-lg edit-account-input" type="password" name="password" placeholder="Password">
            </div>
        </div>
        <br/>
        <button class="btn btn-outline-primary signup-btn" type="submit">Submit Changes</button>
    </form>
</div>


<div class="col-sm-4 col-md edit-account-error">
    {% if user_form_error %}
        <div class="alert alert-danger text-center">
            {{ user_form_error }}
        </div>
    {% endif %}
    {% if doctor_form_error %}
        <div class="alert alert-danger text-center">
            {{ doctor_form_error }}
        </div>
    {% endif %}
    {% if other_errors %}
        <div class="alert alert-danger text-center">
            {{ other_errors }}
        </div>
    {% endif %}
</div>

{% endblock %}