{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'doctor/login.css' %}">
{% endblock %}
{% block content %}

<div class="col-sm-4 col-md"></div>

<div class="col-sm-4 col-md-5 login-main">
    <div class="row text-center justify-content-center">
        <h3 class="text-center login-title"><strong>Manager Login Portal</strong></h3>
    </div>

    <form class="form" action="" method="post">
        {% csrf_token %}

        <div class="row pt-3">
            <input class="form-control input-lg login-input" name="username" placeholder="Username">
        </div>
        <div class="row pt-3">
            <input class="form-control input-lg login-input" type="password" name="password" placeholder="Password">
        </div>
        <br>
        <div class="row" style="margin-bottom: 50px">
            <button class="btn btn-lg btn-outline-primary login-btn" type="submit">Sign In</button>
        </div>
    </form>
</div>

<div class="col-sm-4 col-md login-error">
    {% if error_message %}
        <div class="alert alert-danger text-center">
            {{ error_message }}
        </div>
    {% endif %}
</div>

{% endblock %}