{% extends 'base.html' %}
{% load static %}
{% block styles %}
<style>
    .left-bar {
        border: 1pt solid rgb(236, 236, 236);
        background-color: white;
        padding: 30px;
    }

    .right-bar {
        border: 1pt solid rgb(236, 236, 236);
        background-color: white;
        padding: 30px;
    }

    .active {
        background-color: rgb(67, 136, 204) !important;
        border-color: rgb(67, 136, 204) !important;
    }
    
    .section-divider {
        color: gray;
    }

    hr {
        margin-top: 0px;
    }

    .edit {
        color: rgb(67, 136, 204) !important;
        border-color: rgb(67, 136, 204) !important;
    }
    .edit:hover{
        color: white !important;
        background-color: rgb(67, 136, 204) !important;
    }

    .btn {
        color: rgb(67, 136, 204) !important;
        border-color: rgb(67, 136, 204) !important;
    }
    .btn:hover{
        color: white !important;
        background-color: rgb(67, 136, 204) !important;
    }
</style>
{% endblock %}
{% block content %}
<div class="container-fluid" style="margin: 20px;">
    <div class="row">
        <div class="col-3 left-bar">
            <h4>Welcome Manager {{user.username}}</h4>
            <br/>
            <ul class="list-group">
                <a href = "/manager/get_report/" class="list-group-item list-group-item-action">
                    Reports
                </a>
                <a href = "/manager/doctors/" class="list-group-item list-group-item-action">
                    Doctors
                </a>
                <a href = "/manager/patients/" class="list-group-item list-group-item-action active">
                    Patients
                </a>
                <a href = "/manager/appointments/" class="list-group-item list-group-item-action">
                    Appointments
                </a>
            </ul>
        </div>
        <div class="col right-bar" style="margin-left: 20px;">
            <div class="row">
                <div class="col">
                    <h2>Patients</h2>
                </div>
                <div class="col">
                    <a href="{% url 'manager:add_patient' %}" class="btn-outline-primary btn button"> Add patient</a>
                </div>
            </div>
            
            <main class="col bg-faded py-3 justify-content-center">
                {% if patients %}
                    <ul class="list-group text-center justify-content-center">
                        {% for patient in patients %}
                            <li class="list-group-item"> 
                                {{ patient.user.first_name }} {{ patient.user.last_name }} 
                                <br/> {{ patient.user.email }} 
                                <br/> {{ patient.num_appointment }} appointment(s)
                                <br/>
                                <br/>
                                <a href="{% url 'manager:delete_patient' patient_pk=patient.pk %}" class="btn-outline-danger btn button" onclick="return confirm('Are you sure you want to delete this account?');">Remove patient</a>
                                <a href="{% url 'manager:edit_patient' patient_pk=patient.pk%}" class="btn-outline-primary btn button"> Edit patient</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                <span style="color: rgb(194, 194, 194);">Nothing to show here</span>
                {% endif %}
                </main>
        </div>
    </div>

</div>
    
{% endblock %}