{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="col-sm-6 col-md-8 mx-auto">
        <form class="form" action="" method="post">
            {% csrf_token %}    
            <div class="row">
                <h2>
                    Change Your Password
                </h2>
            </div>
            <div class="row col-xs-6 pt-3">
                <h4>Enter old password </h4>
                <input class="form-control input-lg" name="passwordold">
            </div>
            <div class="row col-xs-6 pt-3">
                <h4>Enter new password </h4>
                <input class="form-control input-lg" name="passwordnew1">
            </div>
            <div class="row col-xs-6 pt-3">
                <h4>Confirm new password </h4>
                <input class="form-control input-lg" name="passwordnew2">
            </div>

            <div class="pt-3">
                <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit">Submit Changes</button>
            </div>
            </form>
        </div>
    </div>
</div>
    {% if errors %}
    <p> {{ errors }} </p>
    {% endif %}
{% endblock %}