{% extends 'base.html' %}
{% block content %}

<form action="" method="post">
    {% csrf_token %}
    <h4>Enter old password </h4>
    <input name="passwordold">
    <h4>Enter new password </h4>
    <input name="passwordnew">
    <button type="submit">submit</button>
</form>
    {% if user_form_error %}
    <p> {{ user_form_error }} </p>
    {% endif %}
    {% if patient_form_error %}
    <p> {{ patient_form_error }} </p>
    {% endif %}
    {% if other_errors %}
    <p> {{ other_errors }} </p>
    {% endif %}
{% endblock %}