{% extends 'base.html' %}
{% load static %}
{% block styles %}
<style>
    .login-main{
    margin-top: 40px;
    padding: 20px 80px;
	background-color: white;
	border: 1pt solid rgb(236, 236, 236);
    /* box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.55); */
    border: 1pt solid rgb(236, 236, 236);
}

    .login-title{
        margin: 30px;
        color: rgb(67, 136, 204);
    }

    .login-btn{
        width: 100%;
        margin: 30px 0 10px 0;
        padding: 12px;
        border-radius: 30px;
        color: rgb(67, 136, 204);
        border-color: rgb(67, 136, 204);
    }

    .login-btn:hover{
        background-color: rgb(67, 136, 204);
        border-color: rgb(67, 136, 204);
    }

    .login-input{
        padding: 25px 14px;
        border-radius: 30px;
        background-color: rgb(247, 247, 247);
    }

    ul.errorlist{
        text-align: left;
        list-style-type: none;
        font-weight: bold;
        text-transform: capitalize;
        padding: 0;
    }

    ul>li>ul.errorlist{
        text-align: left;
        list-style-type: none;
        font-weight: normal;
        text-transform: capitalize;
        padding-left: 20px;
    }

    .register-sentence{
        margin-bottom: 30px;
    }

    .register-link{
        margin-left: 5px;
        color: rgb(67, 136, 204);
    }
</style>
{% endblock %}
{% block content %}

<div class="col-sm-4 col-md"></div>

<div class="col-sm-4 col-md-5 login-main">
    <div class="row text-center justify-content-center">
        <!-- <h3 class="text-center login-title"><strong>Login</strong></h3> -->
        <h2 class="login-title">Login</h2>
    </div>

    <form class="form" action="" method="post">
        {% csrf_token %}

        <div class="row pt-3">
            <input class="form-control login-input" name="username" placeholder="Username">
        </div>
        <div class="row pt-3">
            <input class="form-control login-input" type="password" name="password" placeholder="Password">
        </div>
        <div class="row">
            <button class="btn btn-outline-primary login-btn" type="submit">Sign In</button>
        </div>
    </form>
    <div class="row text-center justify-content-center register-sentence">
        Don't have an account?<a href="{% url "customer:signup" %}" class="register-link">Register</a>
    </div>
</div>

<div class="col-sm-4 col-md login-error">
    {% if error_message %}
        <div class="alert alert-danger text-center">
            {{ error_message }}
        </div>
    {% endif %}
</div>

{% endblock %}