{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'customer/remove_card.css' %}">
{% endblock %}
{% block content %}

<div class="container text-center justify-content-center">
    {% if cards %}
    <h2 class="title">Remove Card</h2>
    <div class="col-sm-6 col-md-8 mx-auto">
        <form action="{% url 'customer:remove_card' %}" method="POST">
            {% csrf_token %}
        <div class="row">
            {% for card in cards %}
                <div class="col-md-4 credit-card">
                    <input
                        type="radio"
                        name="choice"
                        class="form-check-input"
                        id="choice{{ forloop.counter }}"
                        value="{{ card.id }}"
                    />
                    <label class="card-label" for="choice{{ forloop.counter }}">
                        <h4 class="credit-card-title">{{ card.name }}</h4>
                        <p class="credit-card-text"> {{ card.card_num }}</p>
                    </label>
                </div>
            {% endfor %}
            </div>
            <input type="submit" value="Delete" class="btn btn-danger btn-lg btn-block mt-4" />
        </form>
    </div>
    {% else %}
        <span style="color: rgb(194, 194, 194);">Nothing to show here</span>
    {% endif %}
</div>

{% endblock %}