{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'doctor/account_info.css' %}">
{% endblock %}
{% block content %}
<div class="container-fluid">
<div class="row content">
    <div class="col-md-4 justify-content-center account-info">
        <h3> Welcome {{ user.username }}</h3>
        <br>
        <h4>Account Information</h4>
        <h5>First Name: {{ user.first_name }}</h5>
        <h5>Last Name: {{ user.last_name }}</h5>
        <h5>Email: {{ user.email }}</h5>
        <h5>Age: {{ user.doctor.age }}</h5>
        <h5>Phone Number: {{ user.doctor.phone_number }}</h5>
        <h5>Address: {{ user.doctor.address }}</h5>
        <h5>Gender: {{ user.doctor.gender }}</h5>
        <h5>Specialty: {{ user.doctor.specialty }}</h5>
        <br>
        <a href = {% url 'doctor:edit_account_info' %} class="button-link">
            <button class="btn btn-outline-primary btn-lg btn-block">Edit account info</button>
        </a>
        <br>
    </div>
    <div class="col-md justify-content-left account-appointments">
        <h2>Appointments</h2>
        {% if appointments %}
        {% else %}
            <h4>You have no appointments</h4>
        {% endif %}
    </div>
</div>

</div>



{% endblock %}