{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'doctor/dashboard.css' %}">
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js'></script>
<script src="{% static 'doctor/donut.js' %}"></script>
<script src="{% static 'doctor/dashboard.js' %}"></script>
    <script>
        var done_app = {{ done_app }};
        var todo_app = {{ todo_app }};
        var week_appointment = {{ week_appointment|safe }};
    </script>
{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row content">
        <div class="col-lg-4">
            <div class=" justify-content-center dashboard">
                <h3> Welcome {{ user.username }}</h3>
                <br>
                {% if user.doctor.profile_pic %}
                    <img class="profile-pic" src=" {{ user.doctor.profile_pic.url }}">
                {% else %}
                    <div class="upload">
                        <div class="newcontent">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="dropzone">
                                    <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
                                    <input type="file" name="profile_pic" class="upload-input" onchange="console.log('yes')">
                                </div>
                                <div style="display: none">
                                    {{ form_hidden }}
                                </div>
                                <button type="submit" class="img-upload" name="uploadbutton">Upload</button>
                            </form>
                        </div>
                    </div>
                    <h5 style="text-align: center"> You do not have a profile picture uploaded</h5>
                {% endif %}
                <h4>Account Information</h4>
                <h5>First Name: {{ user.first_name }}</h5>
                <h5>Last Name: {{ user.last_name }}</h5>
                <h5>Email: {{ user.email }}</h5>
                <h5>Age: {{ user.doctor.age }}</h5>
                <h5>Phone Number: {{ user.doctor.phone_number }}</h5>
                <h5>Address: {{ user.doctor.address }}</h5>
                <h5>Gender: {{ user.doctor.gender }}</h5>
                <h5>Specialty: {{ user.doctor.specialty }}</h5>
                <br>
                <a href = "{% url 'doctor:edit_account_info' %}" class="button-link">
                    <button class="btn btn-outline-primary btn-lg btn-block">Edit account info</button>
                </a>
                <a href = "{% url 'doctor:delete_doctor' %}" class="button-link">
                    <button class="btn btn-danger btn-lg btn-block mt-3">Delete Account</button>
                </a>
            </div>
        </div>

        <div class="col-lg">
            <div class="justify-content-left appointments">
                <h2 class="appointments-title">Appointments</h2>


                <div class="row justify-content-center appointments-summary">
                    <div class="col-md-3">
                        <h4> Total Number of appointments: {{ total_app }}</h4>
                        <canvas id="chart-line" width="300" height="250" class="chartjs-render-monitor"></canvas>
                    </div>
                    <div class="col-md">
<table class="calendar table table-bordered">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th style="width: 16.6%;">Monday</th>
            <th style="width: 16.6%;">Tuesday</th>
            <th style="width: 16.6%;">Wednesday</th>
            <th style="width: 16.6%;">Thursday</th>
            <th style="width: 16.6%;">Friday</th>
            <th style="width: 16.6%;">Saturday</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>08:00</td>
            <td id="10"></td>
            <td id="20"></td>
            <td id="30"></td>
            <td id="40"></td>
            <td id="50"></td>
            <td id="60"></td>
        </tr>
        <tr>
            <td>09:00</td>
            <td id="11"></td>
            <td id="21"></td>
            <td id="31"></td>
            <td id="41"></td>
            <td id="51"></td>
            <td id="61"></td>
        </tr>
        <tr>
            <td>10:00</td>
            <td id="12"></td>
            <td id="22"></td>
            <td id="32"></td>
            <td id="42"></td>
            <td id="52"></td>
            <td id="62"></td>
        </tr>
        <tr>
            <td>11:00</td>
            <td id="13"></td>
            <td id="23"></td>
            <td id="33"></td>
            <td id="43"></td>
            <td id="53"></td>
            <td id="63"></td>
        </tr>
        <tr>
            <td>12:00</td>
            <td id="14"></td>
            <td id="24"></td>
            <td id="34"></td>
            <td id="44"></td>
            <td id="54"></td>
            <td id="64"></td>
        </tr>
        <tr>
            <td>13:00</td>
            <td id="15"></td>
            <td id="25"></td>
            <td id="35"></td>
            <td id="45"></td>
            <td id="55"></td>
            <td id="65"></td>
        </tr>
        <tr>
            <td>14:00</td>
            <td id="16"></td>
            <td id="26"></td>
            <td id="36"></td>
            <td id="46"></td>
            <td id="56"></td>
            <td id="66"></td>
        </tr>
        <tr>
            <td>15:00</td>
            <td id="17"></td>
            <td id="27"></td>
            <td id="37"></td>
            <td id="47"></td>
            <td id="57"></td>
            <td id="67"></td>
        </tr>
        <tr>
            <td>16:00</td>
            <td id="18"></td>
            <td id="28"></td>
            <td id="38"></td>
            <td id="48"></td>
            <td id="58"></td>
            <td id="68"></td>
        </tr>
        <tr>
            <td>17:00</td>
            <td id="19"></td>
            <td id="29"></td>
            <td id="39"></td>
            <td id="49"></td>
            <td id="59"></td>
            <td id="69"></td>
        </tr>

    </tbody>
</table>
                    </div>
                </div>
                <div class="row-content">
                    {% if appointments %}
                        <h4 style="text-align: center"> Appointments List</h4>
                        <ul class="list-group text-center justify-content-center">
                            {% for appointment in appointments %}
                                {% if appointment.done %}
                                    <li class="list-group-item myactive"> {{ appointment.date }} with {{ appointment.patient.user.last_name }} {{ appointment.patient.user.first_name }} at {{ appointment.slot|add:8 }}:00 until {{ appointment.slot|add:9 }}:00</li>
                                {% else %}
                                    <li class="list-group-item"> {{ appointment.date }} with {{ appointment.patient.user.last_name }} {{ appointment.patient.user.first_name }} at {{ appointment.slot|add:8 }}:00 until {{ appointment.slot|add:9 }}:0
                                    <a href="{% url 'dialogs_detail' appointment.patient.user.username %}" style="float: right;" class="btn-outline-primary btn button">
                                        Chat with {{ appointment.patient.user.username }}
                                    </a>0</li>
                                    <a href="{% url 'doctor:report' appointment.slot appointment.patient.user.pk %}" style="float: right;" class="btn-outline-primary btn button">
                                        Add a report to {{ appointment.patient.user.username }}
                                    </a>

                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% else %}
                        <h4>You haven't had any appointments, and didn't reserve any yet</h4>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}