{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'doctor/edit_password.css' %}">
{% endblock %}
{% block content %}

<div class="col-sm-4 col-md"></div>

<div class="col-sm-4 col-md-5 edit-password-main">
    <div class="row text-center justify-content-center">
        <h3 class="text-center edit-password-title"><strong>Edit Password</strong></h3>
    </div>
    <form class="form" action="" method="post">
        {% csrf_token %}
        <div class="row">
            <h5>Enter old password </h5>
            <input class="form-control input-lg edit-password-input" name="passwordold">
        </div>
        <div class="row">
            <h5>Enter new password </h5>
            <input class="form-control input-lg edit-password-input" name="passwordnew1">
        </div>
        <div class="row">
            <h5>Confirm new password </h5>
            <input class="form-control input-lg edit-password-input" name="passwordnew2">
        </div>
        <button class="btn btn-lg btn-primary edit-password-btn" type="submit">Submit Changes</button>
    </form>
</div>

<div class="col-sm-4 col-md edit-password-error">

    {% if errors %}
        <div class="alert alert-danger text-center">
            {{ errors }}
        </div>
    {% endif %}
</div>
{% endblock %}