{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'doctor/search_doctors.css' %}">
{% endblock %}
{% block content %}
    <div class="center">
            
        <h1 class="title">Search for Doctors</h1>
        <form action="" method="post" id="form">
            {% csrf_token %}
            <div class="searchbar">
                <input class="search_input" type="text" name="q" placeholder="Search by specialty">
                <button class="search_icon" type="submit"><i class="fas fa-search"></i></button>
            </div>
            <div class="searchbar">
                <input class="search_input" type="text" name="n" placeholder="Search by name">
                <button class="search_icon" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </form>
        
    </div>

    <div class="row w-100">
        {% if queryset %}
        <div class="doctors">
            <div class="row">
                {% for d in queryset %}
                <div class="col-md-3 d-flex justify-content-center col-md-offset-1">
                    <div class="col-md-12 doctor-info">
                        <p>
                            <span class="label">Username: </span> {{ d.user.username }} <br>
                            <span class="label">Name: </span> {{ d.user.first_name }} {{ d.user.last_name }} <br>
                            <span class="label">Age: </span>{{ d.age }} <br>
                            <span class="label">Specialty: </span> {{ d.specialty }} <br>
                            <span class="label">Phone number: </span>{{ d.phone_number }} <br>
                            <span class="label">Address: </span>{{ d.address }} <br>
                            <a href="/appointment/{{ d.pk }}/day"><button class="btn btn-lg btn-outline-primary login-btn" type="submit">Book Now</button></a>
                            <button class="btn btn-lg btn-outline-primary login-btn" type="submit">Chat</button>
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

        {% else %}
            <h3 style="width: 100%; color: rgba(221, 26, 26, 0.767); ">No Results Found</h3>
        {% endif %}

        <h3 style="width: 100%;">Top Specialties</h3>

    <div class="specialties-container">
        
       <div class="flip-box">
                    <img src= "{% static 'doctor/Ophtalmology.PNG' %}" style="width: 300px; height: 300px;">
        </div>
        
        <div class="flip-box">
                    <img src= "{% static 'doctor/Radiology.PNG' %}" alt="Pediatricians" style="width: 300px; height: 300px;">
                </div>

  
        <div class="flip-box">
                    <img src= "{% static 'doctor/Gyneco.PNG' %}" alt="Psychatrists" style="width: 300px; height: 300px;">
                </div>
            

        <div class="flip-box">
                    <img src= "{% static 'doctor/urology.PNG' %}" alt="Dermatologists" style="width: 300px; height: 300px;">
                </div>
        <div class="flip-box">
                    <img src= "{% static 'doctor/Cardiology.PNG' %}" alt="Neurologists" style="width: 300px; height: 300px;">
                </div>
        
        <div class="flip-box">
                    <img src= "{% static 'doctor/Neurology.PNG' %}" alt="Neurologists" style="width: 300px; height: 300px;">
                </div>
              
        
    </div>
</div>

{% endblock %}
