#container {
    width: auto;
    margin: 0 auto;
    display: flex;
}
@media (max-width: 600px) {
    #container {
        display: flex;
        flex-direction:column;
    }
}

.box {
    flex: auto;
    margin: 20px;
    margin-top: 40px;
    background-color: white;
    box-shadow: 0 10px 30px 0 rgba(0,0,0,0.5);
    padding: 60px;
    text-align: center;
    height: max-content;
}

#dr-pic {
    border: 2px solid rgb(67, 136, 204);
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.title {
    color: rgb(67, 136, 204);
    margin: 0 0 30px 30px;
}

input[type=date] {
    margin: 0 auto;
    font-size: 15pt;
}

.btn{
    width: 100%;
    margin: 30px 0 10px 0;
    padding: 12px;
    border-radius: 0;
    color: rgb(67, 136, 204);
    border-color: rgb(67, 136, 204);
}

.btn:hover{
    background-color: rgb(67, 136, 204);
    border-color: rgb(67, 136, 204);
    color: white;
}

#slots {
    display: flex;
    flex-flow: wrap;
    max-width: 500px;
}
#slots > div {
    flex: 1;
    padding: 0.5rem;
}
#slots input[type="radio"] {
    display: none;
    cursor: pointer;
}
#slots label {
    cursor: pointer;
    width: 100px;
    height: 100%;
    display: block;
    background: white;
    border: 2px solid rgb(67, 136, 204);
    border-radius: 0px;
    padding-top: 20px;   
    text-align: center;
    box-shadow:  3px 3px rgb(67, 136, 204);
    position: relative;
}
#slots input[type="radio"]:checked + label {
    background: rgb(67, 136, 204);
    color: white;
    box-shadow:  none;
}

