{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'day_selector.css' %}">
{% endblock %}
{% block content %}

    <div id="container">

        <div class="box">
            <h6>Booking an appointment with</h6>
            <br/>
            <div id="dr-pic">
                <img src="{{doctor.profile_pic.url}}"" alt="Doctor's Picture" width = "200" height = "200" style="object-fit: cover; border-radius: 50%;">
            </div>
            <h4>Dr. {{doctor.user.first_name}} {{doctor.user.last_name}}</h4>
            <h5>{{ doctor.specialty }}</h5>
        </div>        
        
        <div class="box">
            <form action="/appointment/{{doctor.pk}}/slot" method="GET">
                <h3 class="title">Choose a day to proceed:</h3>
                <div style="text-align: center;">
                    <label for="day" style="font-size:12pt">Select date:&nbsp;</label>
                    <input type="date" name="day"><br>  
                </div>
                <input type="submit" class="btn" name="submit-day" value="Check Available Times">
                {% if error != "" %}
                    <p style="color:rgb(150, 1, 1)">{{error}}</p>
                {% endif %}
            </form>
        </div>

    </div>
{% endblock %}