{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'day_selector.css' %}">
{% endblock %}
{% block content %}

<div id="container">

    <div class="box">
        <h6>Booking an appointment with</h6>
        <br/>
        <div id="dr-pic">
            {% if doctor.profile_pic %}
            <img src="{{doctor.profile_pic.url}}" alt="Doctor's Picture" width = "200" height = "200" style="object-fit: cover; border-radius: 50%;">
            {% else %}
            <img src="https://i.imgur.com/VvLqO4z.png" alt="Doctor's Picture" width = "200" height = "200" style="object-fit: cover; border-radius: 50%;">
            {% endif %}
        </div>
        <h4>Dr. {{doctor.user.first_name}} {{doctor.user.last_name}}</h4>
        <h5>{{ doctor.specialty }}</h5>
    </div>        
    
    <div class="box2">
        <a href="/appointment/{{doctor.pk}}/day?" style="text-align: left; margin-bottom: 20px;">
            <i class="fa fa-chevron-left" style="font-size:12px;color:gray" aria-hidden="true"></i>
            <span style="font-size:12px;color:gray;">Select another day</span> 
        </a>

        <form action="/appointment/{{doctor.pk}}/{{day}}/confirm" method="GET">
            <h3 class="title">Booking an appointment on {{day}}. Choose a time to proceed</h3>
            <div id="slots">
                {% for slot in available_slots %}
                <div>
                  <input type="radio" name="select-slot" id="{{slot}}" value="{{slot}}">
                  <label for="{{slot}}">
                    <p>{{slot}}</p>
                  </label>
                </div>
                {% endfor %}
            </div>
            <input type="submit" class="btn" name="submit-time" value="Book Appointment">
        </form>
    </div>

</div>

{% endblock %}