{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'day_selector.css' %}">
{% endblock %}
{% block content %}

<div id="container">

    <div class="box">
        <h6>Booking an appointment with</h6>
        <br/>
        <div id="dr-pic">
            <img src="https://st2.depositphotos.com/3889193/7657/i/950/depositphotos_76570869-stock-photo-confident-female-doctor-posing-in.jpg" alt="Doctor's Picture" width = "200" height = "200" style="object-fit: cover; border-radius: 50%;">
        </div>
        <h4>{{doctor}}</h4>
        <h5>Orthologist</h5>
    </div>        
    
    <div class="box">
        <form action="/appointment/{{doctor}}/{{day}}/confirm" method="GET">
            <h3 class="title">Booking an appointment on {{day}}. Choose a time to proceed</h3>
            <div style="text-align: center;">
                <span style="font-size:larger; color: gray">Selected date:</span>
            </div>
            <div id="slots">
                {% for slot in available_slots %}
                <div>
                  <input type="radio" name="select-slot" id="{{slot}}" value="{{slot}}">
                  <label for="{{slot}}">
                    <p>{{slot}}</p>
                  </label>
                </div>
                {% endfor %}
            </div>
            <input type="submit" class="btn" name="submit-time" value="Book Appointment">
        </form>
    </div>

</div>

{% endblock %}