.edit-password-main{
    margin-top: 40px;
    background-color: white;
    padding: 0 60px;
	border: 1pt solid rgb(236, 236, 236);
}

.edit-password-title{
    margin: 30px;
    color: rgb(67, 136, 204)
}

.edit-password-btn{
    background-color: rgb(67, 136, 204);
    border-color: rgb(67, 136, 204);
    border-radius: 8px;
    width: 100%;
    margin: 30px 0;
    padding: 12px;
}

.edit-password-btn:hover{
    background-color: rgb(70, 116, 234);
    border-color: rgb(70, 116, 234);
}

.edit-password-input{
    padding: 14px;
    height: auto;
    border: none;
    border-radius: 8px;
    background-color: rgb(240, 240, 240);
}

ul.errorlist{
    text-align: left;
    list-style-type: none;
    font-weight: bold;
    text-transform: capitalize;
    padding: 0;
}

ul>li>ul.errorlist{
    text-align: left;
    list-style-type: none;
    font-weight: normal;
    text-transform: capitalize;
    padding-left: 20px;
}
